.social-button {
      margin: 5px;
      padding: 12px 18px; /* Increased padding */
      border: none;
      border-radius: 5px;
      cursor: pointer;
      color: white;
      font-size: 16px; /* Larger font size */
    }

    .google {
      background-color: #db4437; /* Google Red */
    }

    .facebook {
      background-color: #3b5998; /* Facebook Blue */
    }

    /* Media query for smaller screens */
    @media (max-width: 768px) {
      .social-button,
      input[type="email"],
      input[type="password"],
      button {
        font-size: 18px !important; /* Even larger font on small screens */
        padding: 15px 20px !important;
      }
    }

    input[type="email"],
    input[type="password"],
    button {
      margin: 5px;
      padding: 12px;
      border-radius: 5px;
      font-size: 16px;
      border: 1px solid #ccc;
    }
